/* GENERAL LAYOUT */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', 'Arial', sans-serif;
   font-size: 14px;
   background-color: #fff;
   color: rgba(0,0,0,0.87);
   padding-top: 90px;
}

/* HEADER */
header {
   width: 100%;
   min-height: 104px;
   padding: 22px 0 0 22px;
   background-color: #fff;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   position: fixed;
   top: 0;
   z-index: 10;
}

h1 {
   margin-bottom: 20px;
}

h1 .privacy {
   font-size: 22px;
   font-weight: 400;
   vertical-align: top;
}

.header-nav li {
   margin-right: 40px;
   font-size: 15px;
   font-weight: 500;
}

.header-nav li a {
   padding-bottom: 6px;
}

.header-nav li a:focus {
   color: #3367d6;
   border-bottom: 3px solid #3367d6;
}

.header-nav li:last-child {
   float: right;
}

.header-nav li:last-child a:focus {
   color: #5f6368;
   border-bottom: none;
}

/* FAQS */
.faqs-container {
   max-width: 965px;
   padding-top: 100px;
   margin: 0 auto;
}

h2, p {
   margin-bottom: 30px;
}

.faq {
   margin-bottom: 80px;
}

.faqs-container .faq:last-child {
   margin-bottom: 0;
}

h2 {
   font-size: 24px;
   font-weight: 500;
   color: #3c4043;
}

/* FOOTER */
footer {
   width: 100%;
   padding: 10px;
   font-size: 11px;
   background-color: #f5f5f5;
   border-top: 1px solid #eee;
}

.footer-nav {
   max-width: 965px;
   margin: 0 auto;
   line-height: 2.19;
}

.footer-nav li {
   margin-right: 10px;
}

.footer-nav li:last-child {
   float: right;
   margin-right: 0;
   display: flex;
   align-items: center;
}

.footer-nav li:last-child img {
   margin-right: 5px;
}

#change-language {
   width: 165px;
}

/* UTILITY */
a {
   text-decoration: none;
   color: #5f6368;
}

li {
   list-style: none;
   display: inline-block;
}